.user {
    display: flex;
    justify-content: center;
}

.dark {
    background-color: black;
    color: #fff;
}

.light .btndarkmode {
    color: #fff;
    background-color: #e76c3b;
}

.dark .iconselect {
    transform: translateX(-45px);
}

.btndarkmode {
    top: 30px;
    right: 70px;
    width: 74px;
    height: 30px;
    color: #fff;
    display: flex;
    cursor: pointer;
    position: absolute;
    border-radius: 40px;
    align-items: center;
    background-color: #000;
    justify-content: space-around;
}

.iconselect {
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 15px;
    background-color: #fff;
    transition: transform linear 0.2s;
}

.userlist {
    width: 70%;
    border-collapse: collapse;
}

th,
td {
    padding: 20px;
    border: 1px solid #ccc;
}

td:first-child {
    padding-left: 0;
    text-align: center;
}

.actionbtn {
    cursor: pointer;
    padding: 8px 12px;
    margin-right: 20px;
}

.actionbtn:last-child {
    position: relative;
}

.formdelete {
    right: 0;
    z-index: 10;
    padding: 12px;
    min-width: 300px;
    position: absolute;
    border-radius: 8px;
    top: calc(100% + 6px);
    box-shadow: 0 0 10px;
    background-color: #fff;
    transform-origin: top right;
    animation: scale linear 0.2s forwards;
}

.formdelete p {
    display: flex;
    color: #ff0000;
    font-size: 1.6rem;
    align-items: center;
}

.formdelete svg {
    color: #ff0000;
    font-size: 2rem;
    margin-right: 8px;
}

.formdelete div {
    display: flex;
    margin-top: 16px;
    justify-content: flex-end;
}

.nodeletebtn,
.yesdeletebtn {
    width: 36px;
    height: 24px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #999;
    background-color: #fff;
}

.yesdeletebtn {
    color: #fff;
    margin-left: 8px;
    margin-right: 12px;
    background-color: #103be8;
}

@keyframes scale {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.regisform {
    display: flex;
    justify-content: center;
}

input {
    width: 100%;
}

form {
    width: 50%;
    padding: 2rem;
    border-radius: 6px;
    border: 2px double #ccc;
}

label {
    display: block;
    margin-bottom: 0.8rem;
}

.inputname,
.inputage,
.inputdesc {
    font-size: 1.8rem;
    padding: 10px 8px;
    margin-bottom: 16px;
}

.btncreate {
    display: block;
    cursor: pointer;
    font-size: 2rem;
    padding: 8px 16px;
    margin: 50px auto;
}
/*css call api */
.load {
    top: 50%;
    left: 50%;
    color: #d7b7f5;
    position: absolute;
    transform: translateX(-50%);
}

.load svg {
    font-size: 50px;
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.err {
    top: 50%;
    left: 50%;
    color: red;
    position: absolute;
    transform: translateX(-50%);
}

.err svg {
    display: block;
    font-size: 50px;
    margin: 20px auto;
}

/* render data in file excel */
.datafromfile {
    min-height: 1000px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.datafromfile input {
    width: auto;
}

.btnsubmitdata {
    margin: 30px;
    color: #fff;
    cursor: pointer;
    font-size: 1.6rem;
    padding: 8px 16px;
    border-radius: 10px;
    background-color: #524cf7;
    transition: all linear 0.4s;
}

.btnsubmitdata:hover {
    color: #524cf7;
    background-color: #fff;
}

.result {
    border: 2px solid red;
}

.result th,
.result td {
    border: 1px solid red;
}

/* Overlay and user-detail */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    opacity: 0.2;
    background-color: #000;
    animation: overlay linear 0.4s;
}

@keyframes overlay {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.2;
    }
}

.userdetail {
    top: 50%;
    left: 50%;
    z-index: 10;
    padding: 16px;
    min-width: 360px;
    position: absolute;
    border-radius: 10px;
    background-color: #fff;
    transform: translate(-50%, -50%);
}

.userdetail h1 {
    margin-bottom: 20px;
}

.userdetail p {
    margin: 6px;
    font-size: 1.8rem;
}

/* Toast Message */
.toastMessage {
    top: 100px;
    right: 16px;
    width: 320px;
    height: 90px;
    display: flex;
    padding: 0 16px;
    position: absolute;
    align-items: center;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0px 0px 8px #50e363;
    animation: slideIn linear 0.6s, slideOut linear 0.8s 3.3s;
}

.toastMessage svg {
    color: #43d934;
    font-size: 3.6rem;
}

.toastMessage h3 {
    margin-left: 12px;
    font-size: 2.4rem;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(calc(100% + 16px));
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}

/*  Edit form */
.useredit {
    left: 50%;
    top: 50%;
    border-radius: 8px;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 5px #ccc;
    transform: translate(-50%, -50%);
}

.usereditform {
}

.editname {
}

.editage {
}

.editdesc {
}

.btnedit {
}
